{% extends 'base.html' %}
{% block content %}
<h1 class="text-center mb-3">Poll Questions</h1>
{% if latest_question_list %}
{% for question in latest_question_list %}
<div class="card-mb-3">
	<div class="card-body">
		<p class="lead">{{ question.question_text }}</p>
		<a href="{% url 'polls:detail' question.id %}" class="btn btn-primary btn-md">Vote Now</a>
		<a href="{% url 'polls:results' question.id %}" class="btn btn-secondary btn-md">Results</a>
        <a href="{% url 'polls:delete_question' question.id %}" class="btn btn-danger btn-md">Delete</a>
        <a href="{% url 'polls:update_question' question.id %}" class="btn btn-success btn-md">Update</a>
	</div>
</div>
{% endfor %}
    <a href="{% url 'polls:create_question' %}" class="btn btn-primary">Create New Question</a>
{% else %}
<p>No polls available</p>

{% endif %}
{% endblock %}
